.main {
    width: 100%;
    /* position: relative; */
}

.columns {
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 20px;
    width: auto;
    height: auto;
    background-color: #7d7c80;
    position: relative;
}

.column {
    display: flex;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(233, 245, 244, 0.6);
    width: 33%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.column-title {
    margin-left: 10%;
}

.form-todo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* width: 100%;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.form-todo-link {
    color: #3e3e3f;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5%;
}

.form-todo-link:hover {
    text-shadow: 0.5px 0.5px 0.5px #185026;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task{
    width: 100%;

}

.label {
    width: 100%;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 3px;
    overflow: hidden;
    resize: none;
}

.button {
    size: 20px;
    height: 30px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(24, 122, 40);
    border-color: #131813;
}
